@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

@mixin titles {
    margin: 0px;
    color: white;
    font-family: 'Taviraj', serif;
}

.ctn {
    background: linear-gradient(
        120deg,
        rgb(239, 107, 31) 50%, 
        rgb(255, 215, 16) 50%);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.title { 
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
.nametitle {
    @include titles();
    font-size: 70px;
}

.id {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.detcard{
    position: absolute;
    left: 150px;
    top: 30px;
}

.imagen {
    position: absolute;
    top: 50px;
    left: 750px;
}
.img{
    width: 580px;
}

.types {
    color: white;
    line-height: 2.5;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.column1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 45px;
}

.subtitle {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.detbtn {
    width: 80px;
    border-radius: 8px;
    border: none;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}
.detbtn:hover{cursor: pointer}

.loader {
    width: 750px;
    height: 650px;
    position: absolute;
    left: 200px;
    top: 90px;
}

.load {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

.icon {
    width: 50px;
    height: 50px;
    justify-content: center;
}