@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@mixin inputs {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
.input {
    @include inputs()
}

@mixin subtitles {
  color: white;
  margin: 8px;
}
.subtitle{@include subtitles()}
.ctn {
    background-image: url('../media/2.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.title {
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 0px;
}

.homebtn {
    width: 80px;
    border-radius: 8px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.homebtn:hover{cursor: pointer;}

.form {
    width: 940px;
    height: 580px;
    background-color: rgba(0, 0, 0, 0.236);
    border-radius: 8px;
    position: absolute;
    left: 60px;
}

.column1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 6.5;
    justify-content: center;
}

.inctn {
    text-align: center;
    padding-right: 8px;
}

.types {
    position: absolute;
    left: 95px;
}