@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.home {
    background-image: linear-gradient(rgb(239, 0, 0), rgb(50, 67, 215));
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.allcards {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

