@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.home {
    background-color: rgb(255, 166, 0);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.allcards {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: right;
    margin-top: 70px;
    margin-right: 30px;

}

.title {
    color: white;
    font-family: 'Lora', serif;
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

.homebtn {
    border-radius: 8px;
    height: 35px;
    width: 80px;
    position: absolute;
    top: 40px;
    right: 20px;
}
.homebtn:hover{cursor: pointer;}

.create {
    border-radius: 8px;
    height: 35px;
    width: 150px;
    position: absolute;
    left: 55px;
    top: 40px;
}
.create:hover{cursor: pointer;}