@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.home {
    background-image: linear-gradient(rgb(239, 0, 0), rgb(50, 67, 215));
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.allcards {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: center;
    margin-top: 70px;
}
@media (max-width: 700px) {
    .allcards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.navbtn {
    border-radius: 8px;
    height: 35px;
    width: 120px;
    border: none;
    margin: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 55, 0);
    border: 2px solid black;
}
.navbtn:hover{cursor: pointer; background-color: #000000d5;}

.img {
    width: 170px;
}