@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.select {
    width: 120px;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
}

.ctn {
    margin-top: 20px;
}