.searchbar {
    width: 480px;
    text-align: center;
    padding-top: 50px;
}

.ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border-radius: 20px;
    width: 350px;
    height: 35px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.801);
}

.btn {
    height: 35px;
    border-radius: 8px;
}

.btn:hover{cursor: pointer}