.input {
    border-radius: 10px;
    width: 250px;
    height: 35px;
    background-color: rgb(234, 225, 191);
    border: 2px solid rgba(255, 255, 255, 0.801);
}

.btn {
    height: 38px;
    border-radius: 8px;
    margin-left: 3px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 55, 0);
    border: 2px solid black;
    margin-right: 10px;
}

.btn:hover{cursor: pointer; background-color: #000000d5;}

.errtitle {
    color: rgb(255, 255, 255);
}

.error {
    width: 350px;
    height: 400px;
}

.errctn {
    justify-content: center;
    text-align: center;
}