@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Dancing+Script&family=Space+Mono&display=swap');

.landing {
    width: 100%;
    height: 100vh;
    background-image: url('../media/1.jpg');
    background-size: cover;/* contain */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.title {
    color: rgb(58, 58, 58);
    position: absolute;
    left: 85px;
    top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 95px;
    
}
.description {
    color: rgba(255, 102, 0, 0.89);
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 80px;
    top: 230px;
    
}

.landingbtn {
    position: absolute;
    left: 80px;
    top: 330px;
    background-color: rgb(14, 14, 14);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-size: 200% auto;
    color: white;            
    border-radius: 25px;
    display: block;  
}
.myButton:hover {
    background-color: rgba(255, 102, 0, 0.89);
}

.loader {
    width: 100%;
    height: 100%;
    background-image: url('../media/7.gif');
    background-size: cover;/* contain */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: absolute;
    top: 0;
}
