@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.container {
    overflow: hidden;
    border-radius: 15px;
    margin: 10px;
    width: 230px;
    height: 280px;
    background: #fffedf;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.name {
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.link a {
    text-decoration: none;
}

.types {
   justify-content: center;
   font-family: 'PT Sans', sans-serif;
}

.img {
    width: 100%;
}