@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.filter {
    width: 120px;
    height: 30px;
    border-radius: 8px;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
}